@import url('https://fonts.googleapis.com/css2?family=Agdasima&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Agdasima&family=Titillium+Web:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

body{
    background-color: rgb(0, 0, 35);
}
.container {
    display: flex;
    
    height:100%;
    color: rgb(108, 241, 241);}

.main {
    width: 90vw;    /*background-color: yellow;*/
    padding: 1vw;
}

.containermain {
    height: 80vh;
    max-height: 600px;
    /* background-color: pink; */
    width: 85vw;
    max-width: 1000px;
    display: flex;
    flex-direction: row;
    background-color: #483D8B;
    justify-content:center;
    font-family: 'Titillium Web', sans-serif;
    margin-left: 15vw;
    margin-right: 5vw;
    margin-top: 10vh;
    border-radius: 24px;
    box-shadow: 0 0 20px rgb(118, 14, 215); 
    text-align: center;
}
.containermain img
{
        height: 335px;
        width: 260px;
        margin-top: 10vh;
        border-radius: 24px;
        margin-right: -23vw ;
        margin-left:13vw ;
        box-shadow: 0 0 15px;
        color: rgb(39, 10, 60);
}




* {
    margin: 0;
    padding: 0;
}



.devinfo {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 22px;
    color: #e4bcfd;
    text-shadow: 0 0 2px;
}
.icons ul
{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    font-size: 1.5em;
}
.icons li
{
    display:block;
    margin-right: 30px;
}
svg
{
    display: block;
    fill: rgb(0 , 0 , 0);
}
svg:hover
{
    cursor: pointer;
    fill: aliceblue;
    filter: drop-shadow(0 0 10px rgb(216, 185, 247));
}

.hello {
    font-size: 2.5em;
    font-weight: bolder;
    
}

.about {
    font-size: 1em;
    font-weight: bold;


}

.name {
    font-size: 2.3em;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
}

.btn {
    padding: 9px 13px;
    border-radius: 15px;
    font-size: 15px;
    color: aliceblue;
    background-color: rgb(11, 4, 65);
    margin: 10px 10px;
    cursor: pointer;
}

.btn:hover {
    background-color: rgb(196, 190, 222);
    color:rgb(11, 4, 65);
    box-shadow:0 0 12px; 
    ;
}

.buttons{
    margin-top: 23px;
}

.contactform {
    height: 80vh;
    max-height: 600px;
    /* background-color: pink; */
    width: 85vw;
    max-width: 1000px;
    display: flex;
    flex-direction: row;
    background-color: #483D8B;
    justify-content:center;
    font-family: 'Titillium Web', sans-serif;
    margin-left: 15vw;
    margin-right: 5vw;
    margin-top: 10vh;
    border-radius: 24px;
    box-shadow: 0 0 20px rgb(118, 14, 215); 
    text-align: center;
}


form h1{
    color: #e4bcfd;
    font-family: 'Oswald', sans-serif;
}

.contactform form div {
    font-family: 'Titillium Web', sans-serif;
    font-weight: bold;
    color: #e4bcfd;

    padding-top: 5vh;
    display: flex;
    flex-direction: column;
}

#emailHelp {
    font-size: 12px;
    margin: 0 12px;
}

.contactform form div input {
    width: 25vw;
    border-radius: 6px;
    font-size: 14px;
    padding: 3px;
}

.btn-primary {
    font-size: 14px;
}


.skillsection
{
    height: 60vh;
    max-height: 600px;
    /* background-color: pink; */
    width: 85vw;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    background-color: #483D8B;
    font-family: 'Titillium Web', sans-serif;
    margin-left: 15vw;
    margin-right: 5vw;
    margin-top: 10vh;
    border-radius: 24px;
    box-shadow: 0 0 20px rgb(118, 14, 215);
}
.intro {
    padding-left: 2vw;
    padding-right: 2vw;
    font-family: 'Fasthand';
    margin-bottom: 58px;
}

.intro p {
    padding: 14px 0;
}
.skillsection h1 {
    font-family: 'Oswald', sans-serif;
    padding-top: 44px;
    padding-left: 50px;
    text-align: left;
    padding-bottom: 20px;
    color:#e4bcfd
}
.skills {
    display: flex;
    color: rgb(237, 210, 210);
    justify-content: center;
    margin-top: 15px;
    box-shadow: 0 0 12px;
    width: 50vw;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 24px;
    margin-bottom: 20px;
    margin-left: 12vw;
}

#html {
    width: 190px;
    height: 13px;
    background-color: rgb(11, 4, 65);
    border-radius: 8px;
    box-shadow: 0 0 7px aliceblue;

    margin-top: 11px;
    margin-left: 4px;
    margin-right: 2px;

}

#css {
    width: 190px;
    height: 13px;
    background-color: rgb(11, 4, 65);
    box-shadow: 0 0 7px aliceblue;
    border-radius: 8px;
    margin: 15px;
    margin-left: 4px;
    margin-right: 2px
}

#cpp {
    width: 160px;
    height: 13px;
    background-color: rgb(11, 4, 65);
    box-shadow: 0 0 7px aliceblue;
    border-radius: 8px;
    margin: 15px;
    margin-left: 4px;
    margin-right: 2px ;
}

#js {
    width: 130px;
    height: 13px;
    background-color: rgb(11, 4, 65);
    box-shadow: 0 0 7px aliceblue;
    border-radius: 8px;
    margin: 15px;
    margin-left: 4px;
    margin-right: 2px;
}

#python {
    width: 140px;
    height: 13px;
    background-color: rgb(11, 4, 65);
    box-shadow: 0 0 7px aliceblue;
    border-radius: 8px;
    margin: 15px;
    margin-left: 4px;
    margin-right: 2px;
}


p.percent {
    padding: 3px;
    font-weight: bold;
}

.sidebar {
    position: absolute;
    font-family: 'Agdasima', sans-serif;
    font-weight: bold;
    background-color:  rgba(120, 85, 154, 0.801);
    height: 100vh;
    transition: transform 0.3s ease-in;
}
.sidebar nav li a:hover{
    text-shadow: 0 0 12px;
}

.sidebar nav li {
    list-style: none;
    font-size: 30px;
    padding: 25px 0;
}

.sidebar nav li a {
    text-decoration: none;
    font-size: 40px;
    color: rgba(252, 232, 232, 0.861);
}
.sidebar nav {
    padding: 40px;

}

.sidebargo{
        transform: translate(-330px);
        position: absolute;
}

.ham img {
    width: 23px;
    height: 23px;
    position: absolute;
    left: 10px;
    top: 10px;
    cursor: pointer;
}

.cross img {
    width: 69px;
    height: 27px;
    position: absolute;
    left: 133px;
    top: 10px;
    cursor: pointer;
}

@media (width <= 1250px) {
    .containermain
    {
        width: 70vw;
    }
    .skillsection{
        width: 70vw;
    }
    .contactform{
        width: 70vw;
    }
    .contactform form div input {
        width: 310px;
        border-radius: 6px;
        font-size: 14px;
        padding: 3px;
    }
    .icons{
        padding-top: 25px;
    }

}

@media (width <= 1000px) {
    .containermain
    {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .containermain img
    {
        height: 40vh;
        width: 30vh;
        margin: 5vh 0 -20vh 0;
    }

}

@media (max-width: 730px) 
{
    .devinfo{
        font-size: 15px;
        padding-top: 4px;
    }
    .icons{
        padding-top: 15px;
    }
  .skills
  {
    box-shadow: none;
  }
  .contactform form div input {
    width: 200px;
    border-radius: 6px;
    font-size: 14px;
    padding: 3px;
}
.contactform{
    text-align: left;
}
}
.skillist{
    color: white;
    font-size: 22px;

  }
  .percentageno{
    color: white;
    font-size: 22px;
    padding-left: 2px;
  }
  @media (width >=1300px) {
    .skills {
        display: flex;
        color: rgb(237, 210, 210);
        justify-content: center;
        margin-top: 15px;
        box-shadow: 0 0 12px;
        width: 650px;
        padding-top: 20px;
        padding-bottom: 20px;
        border-radius: 24px;
        margin-bottom: 20px;
        margin-left: 158px;
    }
    
  }
  
